.manageProduct-head{
    display: flex;
    justify-content: space-between;
    
}


.manageProduct-Title{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
}
.addProductBtn{
    margin-top: 40px;
    height: 50px;
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #3B67FF;
    border-radius: 5px;
    color: white;
}

.productList{
    background-color: #f9f9f9;
    height: 520px;
    border-radius: 8px;
    margin-top: 40px;
    padding: 5px 20px;
}
table{
    margin-top: 40px;
}